// $primary
$m1:transparent;
$m2:#2D3038;
$m3:#94b1e6;
$m4:black;
$m5:white;
$m6:#FFE500;
$apply:#3ea4fa;
$cooking:#fd9333;
$s-logo:#E3698A;


// Required
@import "../../node_modules/bootstrap/scss/functions";

// Required
@import "../../node_modules/bootstrap/scss/variables";


// common css
.wrap{
  display:flex;
  z-index:97;
  width:100vw; 
  height:100vh;
  background-color:#F0F5FB;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -0.25px;
}
.container{
  display: flex;
  flex-direction: column;
  margin-right:10px;
  width:100%;
  height:100%;
  position:relative;
  transition:0.2s ease;
}
.header{
  width:100%;
  height:65px;
  display:flex;
  background-color:$m5;
  margin:10px 0;
  margin-left:1px;
  flex-shrink: 0;
  box-shadow:0 7px 25px rgba(0,0,0,0.08);
  border-bottom: 1px solid #E5E5E5;
  border-radius:12px;
}
.black{
  background-color:$m2;
}
.section{
  width:100%;
  height:100%;
  display:flex;
  flex-wrap:wrap;
  align-content:flex-start;
  margin-left:1px;
  margin-bottom:10px;
  border-radius:12px;
  background-color:$m5;
  box-shadow:0 7px 25px rgba(0,0,0,0.08);
}
.fcc{
  display:flex;
  justify-content: center;
  align-items: center;
}
.fj{
  display:flex;
  justify-content: center;
}
.fa{
  display:flex;
  align-items: center;
}
.sm-font{
  font-size:16px;
}
.modal.sm{
  width:300px;
  height:300px;
}
.modal.md{
  width:300px;
  height:350px;
}
// 작은 컴포넌트들?
.modal{
  position: fixed;
  z-index:99;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  margin:auto;
  width:300px;
  height:350px;
  border:1px solid $m2;
  background-color: $m5;
  border-radius: 10px;
  box-shadow:0 7px 25px rgba(0,0,0,0.08);
}
.modal-background{
  position: fixed;
  z-index:98;
  width:100vw;
  height:100vh;
  backdrop-filter: blur(2px);
}
.alert{
  flex-shrink: 0;
  .alert-box{
    height:33px;
    justify-content: space-between;
    background-color:$m2;
    border-radius:10px;
    font-size:12px;
    padding:1px 20px;
    color:$m5;
    img{
      margin-left:2px;
      width:15px;
      height:15px;
      margin-bottom:3px;
    }
    .alert-btn{
      height:20px;
      margin-left:10px;
      border:1px solid $gray-500;
      outline:none;
      background-color:lighten($m2,10%);
      color:$m5;
      border-radius:5px;
      font-size:12px;
    }
  }
}
button{
  cursor: pointer;
}
.btn{
  width:130px;
  height:35px;
  outline:none;       
  border:1px solid $m2;
  border-radius: 15px;
  background-color:$m5;
  transition: 0.2s linear;
  font-size:12px;
  &:hover{
    background-color:$m2;
    color:$m5;
    border:1px solid $m5;
  }
  img{
    width:15px;
    height:15px;
  }
  span{
    font-size:12px;
    margin-left:5px;
  }
}

.btn.invert{
  border:1px solid $m5;
  background-color:$m2;
  color:$m5;
  &:hover{
    background-color:$m5;
    color:$m2;
    border:1px solid $m2;
  }
}

.icon-btn{
  width:20px;
  height:20px;
  background-color:$m1;
  border:none;
  outline:none;
  img{
    width:20px;
    height:20px;
    &:hover{
      transform: rotate(180deg);
      transition: 0.4s linear;
    }
  }
}
.reg-btn{
  display:block;
  margin-top:20px;
  width:90%;
  height:42px;
  border:1px solid lighten($m2, 20%);
  border-radius: 15px;
  font-size:13px;
  font-weight: 700;
  background-color:lighten($m2, 20%);
  transition:.2s;
  color:$m5;
  opacity: 0.6;
  &:hover{
    background-color:$m5;
    color:$m2;
    border:1px solid lighten($m2, 20%);
  }
}
.close-btn{
  border:none;
  outline:none;
  position: absolute;
  top:10px;
  right:10px;
  background-color:transparent;
}
.add-menu-toggle{
  position: fixed;
  bottom:20px;
  right:20px;
  width:40px;
  height:40px;
  border:2px solid $m5;
  background-color:lighten($m2,30%);
  outline:none;
  border-radius: 50%;
  transition:0.2s ease;
  img{
    width:100%;
    height:80%;
  }
  &:hover{
    background-color:$m2;
  }
}

//animaiton

.rotate-180{
  transform: rotate(180deg);
  transition: 0.2s linear;
}
.scale{
  transform: scale(1.2);
}

//loading
.loading-animation{
  width:100vw;
  height:100vh;
  flex-grow:1;
  background-color: $m2;
  // background-color: #F0F5FB;
  position: absolute;
  z-index:98;
  animation: fadeOut 2s linear;
  .ani-wrap{
    width:30%;
    height:30%;
    z-index:99;
    margin-bottom:30px;
    position: relative;
    .title{
      z-index:100;
      position: absolute;
      font-family: "Oswald", sans-serif;
      font-weight: 700;
      font-size:35px;
      color:lighten($m2, 20%);
      animation: fadeInDown 2s ease;
      img{
        width:150px;
        height:150px;
      }
    }
    .bar{
      position: relative;
      width:150px;
      height:5px;
      border-radius:15px;
      top:70px;
      overflow:hidden;
      .background-bar{
        position: absolute;
        width:100%;
        height:100%;
        background-color:$m2;
      }
      .loading-bar{
        position: absolute;
        height:100%;
        background-color:$gray-400;
        animation:loadingBar 2s linear;
      }
    }
  }
}


@keyframes fadeOut{
  0%{
    opacity:1;
  }
  5%{
    opacity:1;
  }
  10%{
    opacity:1;
  }
  20%{
    opacity:1;
  }
  25%{
    opacity:1;
  }
  30%{
    opacity:1;
  }
  50%{
    opacity:1;
  }
  75%{
    opacity:1;
  }
  90%{
    opacity: 0.9;
  }
  100%{
    opacity:0;
  }
}
@keyframes loadingBar{
  0%{
    width:0%;
  }
  5%{
    width:5%;
  }
  10%{
    width:10%;
  }
  20%{
    width:20%;
  }
  25%{
    width:25%;
  }
  30%{
    width:30%;
  }
  50%{
    width:50%;
  }
  75%{
    width:75%;
  }
  100%{
    width:100%;
  }
}
@keyframes fadeInDown{
  0%{
    opacity: 0;
    transform: translateY(-50px);
  }
  // 5%{
  //   top:-25px;
  // }
  // 10%{
  //   top:-20px;
  // }
  // 20%{
  //   top:-15px;
  // }
  // 25%{
  //   transform: translateY(-75px);
  // }
  // // 30%{
  // //   transform: translateY(-50px);
  // // }
  50%{
    opacity: 0.5;
  }
  // 75%{
  //   transform: translateY(-25px);
  // }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}